$mainFont: "Henny Penny", cursive;
$textFont: "Roboto", sans-serif;
$mainBorderR: 5px;
$primaryColor: #9453a6;
$secondaryColor: #8cbf3f;
$warningColor: #f2cc0f;
$lightColor: #f2f2f2;
$darkColor: #0d0d0d;

.my-sec {
  background: rgb(148, 83, 166);
  background: linear-gradient(
    150deg,
    rgba(148, 83, 166, 1) 12%,
    rgba(140, 191, 63, 1) 55%,
    rgba(242, 204, 15, 1) 100%
  );

  border-radius: 40px;
  font-family: $textFont;
}
