$mainFont: "Henny Penny", cursive;
$textFont: "Roboto", sans-serif;
$mainBorderR: 5px;
$primaryColor: #9453a6;
$secondaryColor: #8cbf3f;
$warningColor: #f2cc0f;
$lightColor: #f2f2f2;
$darkColor: #0d0d0d;

.bgc-primary {
  background-color: $primaryColor;
  color: #f2f2f2;
}
.bgc-secondary {
  background-color: $secondaryColor;
  color: #f2f2f2;
}
.bgc-warning {
  background-color: $warningColor;
}
.bgc-light {
  background-color: $lightColor;
}
.bgc-dark {
  background-color: $darkColor;
  color: #f2f2f2;
}

.main-div {
  h2 {
    font-family: $mainFont;
  }
}
