$mainFont: "Henny Penny", cursive;
$textFont: "Roboto", sans-serif;
$mainBorderR: 5px;
$primaryColor: #9453a6;
$secondaryColor: #8cbf3f;
$warningColor: #f2cc0f;
$lightColor: #f2f2f2;
$darkColor: #0d0d0d;

.bgc-primary {
  background-color: $primaryColor;
}
.bgc-secondary {
  background-color: $secondaryColor;
}
.bgc-warning {
  background-color: $warningColor;
}
.bgc-light {
  background-color: $lightColor;
}
.bgc-dark {
  background-color: $darkColor;
}

.art-text {
  font-size: 1.5rem;
}

.the-cards {
  .card {
    background: rgb(148, 83, 166);
    background: linear-gradient(
      150deg,
      rgba(148, 83, 166, 0.4) 12%,
      rgba(140, 191, 63, 0.4) 55%,
      rgba(242, 204, 15, 0.4) 100%
    );
  }
  h5 {
    font-family: $mainFont;
    font-weight: bold;
  }
  p {
    font-family: $textFont;
  }
  a {
    font-family: $textFont;
  }
}
