@import "mainPage";
@import "faqPage";
@import "contectPage";

@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=IBM+Plex+Sans+Thai+Looped&family=Itim&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,400;1,500&display=swap");

$mainFont: "Henny Penny", cursive;
$textFont: "Roboto", sans-serif;
$mainBorderR: 5px;
$primaryColor: #9453a6;
$secondaryColor: #8cbf3f;
$warningColor: #f2cc0f;
$lightColor: #f2f2f2;
$darkColor: #0d0d0d;

.main-font {
  font-family: $mainFont;
  font-weight: bold;
}

.text-font {
  font-family: $textFont;
}

//************ header **********//

.div-head {
  background: rgb(148, 83, 166);
  background: linear-gradient(
    150deg,
    rgba(148, 83, 166, 1) 12%,
    rgba(140, 191, 63, 1) 55%,
    rgba(242, 204, 15, 1) 100%
  );

  .link-1 {
    background-color: $primaryColor;
    border-radius: $mainBorderR;
    color: $lightColor;
  }
  .link-2 {
    @extend .link-1;
    background-color: $secondaryColor;
  }
  .link-3 {
    @extend .link-1;
    background-color: $warningColor;
    color: black;
  }
  .link-4 {
    @extend .link-1;
    background-color: $darkColor;
  }
  .link-5 {
    @extend .link-1;
  }
}

//**************    footer   **************//

.footer-div {
  height: 130px;
  width: 100%;

  background: rgb(148, 83, 166);
  background: linear-gradient(
    150deg,
    rgba(148, 83, 166, 1) 12%,
    rgba(140, 191, 63, 1) 55%,
    rgba(242, 204, 15, 1) 100%
  );
  h2 {
    font-size: 3vw;
    font-weight: bold;
  }
  p {
    font-size: 1em;
  }
}
